name: muse
services:
  db:
    # Note: we need to use the pgvector/pgvector:pg17 image to use the pgvector extension, instead of the official postgres image
    image: pgvector/pgvector:pg17
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d local_db"]
      interval: 1s
      retries: 5
      start_period: 1s
      timeout: 10s
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: local_db
    ports:
      - "5432:5432"
    restart: no
    volumes:
      - muse-postgres:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      retries: 5
      start_period: 1s
      timeout: 10s
    ports:
      - "6379:6379"
    restart: no
    volumes:
      - muse-redis:/data

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile.backend
    healthcheck:
      test: ["CMD-SHELL", "curl localhost:8000/health"]
      interval: 10s
      retries: 5
      start_period: 3s
      timeout: 10s
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://user:password@db:5432/local_db?sslmode=disable
      REDIS_URL: redis://redis:6379
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  migrate:
    build:
      context: ..
      dockerfile: backend/Dockerfile.migrate
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://user:password@db:5432/local_db?sslmode=disable
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    restart: no
    profiles:
      - tools
    entrypoint:
      - sh
      - -c
      - exec migrate -path /migrations -database "$$DATABASE_URL" "$@"
      - --

volumes:
  muse-postgres:
  muse-redis:
